.sticky
  %nav.top-bar{data: {topbar: '', options: ''}, role: :navigation}
    %ul.title-area
      %li.name 
        %h1
          %a{href: root_url}
            .show-for-small Vettio
            %img.hide-for-small{src: asset_url('logo/slogan.png'), title: 'Vettio', data: { interchange: "default #{asset_url('logo/slogan.png')}, small #{asset_url('logo/button.png')}" } }
            %noscript
              %img{src: asset_url('logo/button.png')}
    %section.top-bar-section
      %ul.left
        %li
          %a{href: new_event_path}
            %i.fa.fa-plus-square.fa-lg
            Create Event
        %li.has-dropdown
          %a{href: '#'}
            %span.fa-stack.fa-fw
              %i.fa.fa-square.fa-stack-2x
              %i.fa.fa-calendar-o.fa-stack-1x.fa-black
            Events
          %ul.dropdown
            %li
              %label
                %i.fa.fa-fw.fa-calendar-o
                Upcoming Events
            %li
              = link_to events_path(scope: :upcoming_week) do
                Upcoming This Week
            %li
              = link_to events_path(scope: :upcoming_month) do
                Upcoming This Month
            %li
              = link_to events_path(scope: :upcoming_year) do
                Upcoming This Year
            - if user_signed_in?
              %li.divider
              %li
                = link_to events_path(scope: :my) do
                  My Events
      %ul.right
        - unless user_signed_in?
          %li
            %a.sign_in{href: new_user_session_path}
              %i.fa.fa-fw.fa-fw.fa-key
              Sign In
          %li
            %a.sign_up{href: new_user_registration_path}
              %i.fa.fa-fw.fa-file
              Sign Up 
        - if user_signed_in?
          %li
            = link_to destroy_user_session_path, method: :delete, class: 'sign_out' do
              %i.fa.fa-fw.fa-arrow-circle-right
              Sign Out
        %li.divider
