.sticky
  %nav.top-bar.hide-for-small{data: {topbar: '', options: ''}, role: :navigation}
    %ul.title-area
      %li.name 
        %h1
          %a{href: root_url}
            %img{src: asset_url('logo/slogan.png'), title: 'Vettio'}
    %section.top-bar-section
      %ul.left
        %li
          %a{href: new_event_path}
            %i.fa.fa-plus-square.fa-lg
            Create Event
        %li.has-dropdown
          %a{href: '#'}
            %span.fa-stack.fa-fw
              %i.fa.fa-square.fa-stack-2x
              %i.fa.fa-calendar-o.fa-stack-1x.fa-black
            Events
          %ul.dropdown
            %li
              %label
                %i.fa.fa-fw.fa-calendar-o
                Upcoming Events
            %li
              = link_to events_path(scope: :upcoming_week) do
                Upcoming This Week
            %li
              = link_to events_path(scope: :upcoming_month) do
                Upcoming This Month
            %li
              = link_to events_path(scope: :upcoming_year) do
                Upcoming This Year
            - if user_signed_in?
              %li.divider
              %li
                = link_to events_path(scope: :my) do
                  My Events
      %ul.right
        - unless user_signed_in?
          %li
            %a.sign_in{href: new_user_session_path}
              %i.fa.fa-fw.fa-fw.fa-key
              Sign In
          %li
            %a.sign_up{href: new_user_registration_path}
              %i.fa.fa-fw.fa-file
              Sign Up 
        - if user_signed_in?
          %li
            = link_to destroy_user_session_path, method: :delete, class: 'sign_out' do
              %i.fa.fa-fw.fa-arrow-circle-right
              Sign Out
        %li.divider

  %nav.tab-bar.show-for-small
    %section.left-small
      %a.left-off-canvas-toggle
        %i.fa.fa-fw.fa-lg.fa-ellipsis-v
    %section.middle.tab-bar-section
      %h1.title= page_title
    %section.right-small
      %a.right-off-canvas-toggle
        %i.fa.fa-fw.fa-lg.fa-ellipsis-v

%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label Events
    - if can?(:create, Event)
      %li
        %a{href: new_event_path} Create an Event
    %li
      %a{href: events_url} All Events

%aside.right-off-canvas-menu
  %ul.off-canvas-list
    - if !user_signed_in?
      %li
        %label New User
      %li
        = link_to new_user_session_path do
          %i.fa.fa-fw.fa-asterisk
          Sign Up
      %li
        = link_to user_omniauth_authorize_path(provider: :facebook, task: :new) do
          %i.fa.fa-fw.fa-facebook-square
          Sign Up with Facebook
      %li
        = link_to user_omniauth_authorize_path(provider: :linkedin, task: :new) do
          %i.fa.fa-fw.fa-linkedin-square
          Sign Up with LinkedIn
      %li
        %label Returning User
      %li
        = link_to new_user_session_path do
          %i.fa.fa-fw.fa-lock
          Sign In
      %li
        = link_to user_omniauth_authorize_path(provider: :facebook, task: :find) do
          %i.fa.fa-fw.fa-facebook-square
          Sign In with Facebook
      %li
        = link_to user_omniauth_authorize_path(provider: :linkedin, task: :find) do
          %i.fa.fa-fw.fa-linkedin-square
          Sign In with LinkedIn
    - else
      %li
        %label Account
      %li
        %a{href: '#'}
          %i.fa.fa-fw.fa-cog
          Settings
      %li
        = link_to destroy_user_session_path, method: :delete do
          %i.fa.fa-fw.fa-lock
          Sign Out
