.sticky
  %nav.top-bar{data: {topbar: '', options: ''}}
    %ul.title-area.hide-for-small
      %li.name 
        %h1
          %a{href: root_url}
            %img{src: asset_url('logo/slogan.png'), title: 'Vettio', data: { interchange: "default #{asset_url('logo/slogan.png')}, small #{asset_url('logo/button.png')}" } }
            %noscript
              %img{src: asset_url('logo/slogan.png')}
    %section.top-bar-section
      %ul.left
        %li.has-form
          .row.collapse
            .large-8.small-9.columns
              %input{type: :search, placeholder: 'Look for events'}
            .large-4.small-3.columns
              %a.alert.button.expand{href: '#'} Search
        %li#nav_link_create_event
          = link_to new_event_path do
            %i.fa.fa-fw.fa-fw.fa-plus-square
            Create Event
        - if user_signed_in?
          %li
            = link_to events_path(scope: :my) do
              %i.fa.fa-fw.fa-glass
              My Events
      %ul.right
        - unless user_signed_in?
          %li
            %a.sign_in{href: new_user_session_path}
              %i.fa.fa-fw.fa-fw.fa-key
              Sign In
          %li
            %a.sign_up{href: new_user_registration_path}
              %i.fa.fa-fw.fa-file
              Sign Up 
        - if user_signed_in?
          %li
            = link_to destroy_user_session_path, method: :delete, class: 'sign_out' do
              %i.fa.fa-fw.fa-arrow-circle-right
              Sign Out
        %li.divider
