%nav.tab-bar.show-for-small
  %section.left-small
    %a.left-off-canvas-toggle.menu-icon
      %span
  %section.middle.tab-bar-section
    %h1.title= page_title
  %section.right-small
    %a.right-off-canvas-toggle.menu-icon
      %span

%aside.left-off-canvas-menu
  %ul.off-canvas-list
    %li
      %label Events
    - if can?(:create, Event)
      %li
        %a{href: new_event_path} Create an Event
    %li
      %a{href: events_url} All Events

%aside.right-off-canvas-menu
  %ul.off-canvas-list
    - if !user_signed_in?
      %li
        %label New User
      %li
        = link_to new_user_session_path do
          %i.fa.fa-fw.fa-asterisk
          Sign Up
      %li
        = link_to user_omniauth_authorize_path(provider: :facebook, task: :new) do
          %i.fa.fa-fw.fa-facebook-square
          Sign Up with Facebook
      %li
        = link_to user_omniauth_authorize_path(provider: :linkedin, task: :new) do
          %i.fa.fa-fw.fa-linkedin-square
          Sign Up with LinkedIn
      %li
        %label Returning User
      %li
        = link_to new_user_session_path do
          %i.fa.fa-fw.fa-lock
          Sign In
      %li
        = link_to user_omniauth_authorize_path(provider: :facebook, task: :find) do
          %i.fa.fa-fw.fa-facebook-square
          Sign In with Facebook
      %li
        = link_to user_omniauth_authorize_path(provider: :linkedin, task: :find) do
          %i.fa.fa-fw.fa-linkedin-square
          Sign In with LinkedIn
    - else
      %li
        %label Account
      %li
        %a{href: '#'}
          %i.fa.fa-fw.fa-cog
          Settings
      %li
        = link_to destroy_user_session_path, method: :delete do
          %i.fa.fa-fw.fa-lock
          Sign Out
