- page_title 'Create Event'

- if @event.errors.any?
  .alert-box.radius.alert{'data-alert' => ''}
    %a.close{href: '#'}
      %i.fa.fa-times-circle.fa-fw
    %b Something went haywire when attempting to save your event!
    %ul
      - @event.errors.full_messages.each do | msg |
        %li= msg

#modal_all_day.reveal-modal.small.center-text
  %h2
    %i.fa.fa-clock-o
    Going All Day
  %p Do you want to mark this event as being an <b>all day</b> one?
  %a#modal_make_all_day.button.success.medium.pull-right
    Sure, Thanks!
    %i.fa.fa-check-square
  %a#modal_ignore_all_day.pull-left.button.medium.secondary
    Nope, I'm Good

#modal_add_ticket.reveal-modal.medium{'data-reveal' => true}
  
.row
  .small-12.columns
    = form_for @event, class: :custom do |f|
      = f.hidden_field :date_start, value: @event.date_start.to_s
      = f.hidden_field :date_end, value: @event.date_end.to_s
      = f.hidden_field :longitude, value: @event.longitude
      = f.hidden_field :latitude, value: @event.latitude
      = f.hidden_field :address, value: @event.address
      .row
        .small-10.large-8.columns.large-centered.small-centered
          %div{'data-magellan-expedition' => 'fixed'}
            %dl.sub-nav.center-text
              %dd{'data-magellan-arrival' => 'location'}
                %a{href: '#location'} Location
              %dd{'data-magellan-arrival' => 'content'}
                %a{href: '#content'} Content 
              %dd{'data-magellan-arrival' => 'timing'}
                %a{href: '#timing'} Timing 
              %dd{'data-magellan-arrival' => 'tickets'}
                %a{href: '#tickets'} Tickets 
      %fieldset#location
        %a{name: 'location'}
        %legend
          %h3{'data-magellan-destination' => 'location'}
            %i.fa.fa-fw.fa-crosshairs
            Location
            %small Be it here, the mall or Mars!
        -#.row
          -#.small-3.columns
            -#%small.label.pull-right required
            -#= f.label :address, class: 'inline has-tip tip-top', data: { tooltip: :address }, title: 'Where is it happening? Let us know!'
          -#.small-9.columns
            -#.row.collapse
              -#.small-10.columns
                -#= f.text_field :address, placeholder: '1 Vettio Lane, New York, New York, 10010', autocomplete: :on, value: @event.address
                -#%ul#event_address_list.f-dropdown{'data-dropdown-content' => ''}
              -#.small-2.columns
                -#%a#event_full_address.button.postfix
                  -#%i.fa.fa-crosshairs.fa-fw
                  -#Pinpoint 
        .row
          #event_address_tool.small-12.columns
            .row
              .large-6.small-12.columns
                #event_map
              .large-6.small-12.columns
                .row
                  .small-12.columns
                    %input#event_address_title{type: :text, placeholder: 'Name of Location'}
                  .small-12.columns
                    %input#event_address_line{type: :text, placeholder: 'Address Line'}
                .row.collapse
                  .small-4.columns
                    %input#event_address_city{type: :text, placeholder: 'City'}
                  .small-4.columns
                    %input#event_address_state{type: :text, placeholder: 'State'}
                  .small-4.columns
                    %input#event_address_zipcode{type: :number, placeholder: 'ZIP Code'}
                .row.collapse
                  .small-12.columns.pull-right
                    %a.button.tiny.radius.primary#event_address_tool_fill{href: '#'}
                      %i.fa.fa-magic
                      Fill In Info
      %fieldset#content
        %a{name: 'content'}
        %legend
          %h3{'data-magellan-destination' => 'content'}
            %i.fa.fa-fw.fa-coffee
            Content
            %small Make it worthwhile! Make it last. <b>Describe</b>.
        .row
          .small-12.large-2.columns
            = f.label :brand, class: 'inline' do
              Banner Image
          .small-12.large-10.columns
            = f.file_field :brand
        .row
          .small-12.large-3.columns
            %small.label.pull-right required
            = f.label :name, class: 'inline has-tip tip-top', title: 'You have one shot to make this count! Describe your event lightly here.', data: {tooltip: :name } do
              Name
          .small-12.large-9.columns
            = f.text_field :name, autocomplete: :off, placeholder: 'Awesome Event at Main St', value: @event.name
        .row
          .small-12.large-3.columns
            %small.label.pull-right required
            = f.label :description, class: 'inline has-tip tip-top', title: 'Let your attending viewers know!', data: {tooltip: :description} do
              Description
          .small-12.large-9.columns
            = f.text_area :description, placeholder: 'Bring popcorn.', rows: 30, value: @event.description
      %fieldset#timing
        %a{name: 'timing'}
        %legend
          %h3{'data-magellan-destination' => 'timing'}
            %i.fa.fa-fw.fa-clock-o
            Timing
            %small Let's keep it punctual, kapish?
        .row
          .small-3.columns
            %small.label.pull-right required
            = f.label :start_day, class: :inline do
              Start Time &amp; Date
          .small-6.columns
            %input#start_day{type: :date, placeholder: 'Start Day'}
          .small-3.columns
            %input#start_time{type: :time, placeholder: 'Start Time'}
        .row
          .small-3.columns
            %small.label.pull-right required
            = f.label :end_day, class: :inline do
              End Time &amp; Date
          .small-6.columns
            %input#end_day{type: :date, placeholder: 'End Day'}
          .small-3.columns
            %input#end_time{type: :time, placeholder: 'End Time'}
        .row.collapse
          .small-3.columns
            #event_duration.pull-left
          .offset-6.small-3.columns
            %label.pull-right{for: :all_day}
              %input.custom#all_day{type: :checkbox}
              %span.custom.checkbox
              All Day Event
      %fieldset#classification
        %a{name: 'classification'}
        %legend
          %h3{'data-magellan-destination' => 'classification'}
            %i.fa.fa-fw.fa-cog
            Classification
            %small Where does this fit in?
        .row
          .small-12.large-2.columns
            = f.label :primary_category, class: :inline do
              %i.fa.fa-fw.fa-tags
              Categories
          .small-12.large-5.columns
            %select{name: 'event[primary_category_id]', id: 'event_primary_category_id'}
              - Category.where(category_id: nil).each do | parent_category |
                %optgroup{data:{category: parent_category.id}, label: parent_category.name}
                  - parent_category.categories.each do | category |
                    %option{value: category.id}= category.name
          .small-12.large-5.columns
            %select{name: 'event[secondary_category_id]', id: 'event_secondary_category_id'}
              - Category.where(category_id: nil).each do | parent_category |
                %optgroup{data:{category: parent_category.id}, label: parent_category.name}
                  - parent_category.categories.each do | category |
                    %option{value: category.id}= category.name
        .row
          .small-12.large-2.columns
            = f.label :access_key, class: :inline do
              %i.fa.fa-fw.fa-lock
              Key
          .small-12.large-10.columns
            = f.password_field :access_key
        .row
          .small-12.large-2.columns
            = f.label :age_group, class: :inline do
              %i.fa.fa-fw.fa-tasks
              Age Groups
          .small-12.large-10.columns
            .row
              - AgeGroup.all.each do | group |
                .large-2.columns.center-text
                  = f.label 'age_groups[]', class: 'center-text inline' do
                    = check_box_tag 'age_groups[]', group.id, false
                    = group.name
      %fieldset#tickets
        %a{name: 'tickets'}
        %legend
          %h3{'data-magellan-destination' => 'tickets'}
            %i.fa.fa-fw.fa-ticket
            Tickets
            %small Dolla, dolla bills, baby!
        .row
          .large-2.columns
            = f.label :fee_handling do
              %i.fa.fa-fw.fa-gavel
              Handling Fees
          .large-10.columns
            .row.collapse
              .large-4.columns
                = f.label :fee_handling do
                  = radio_button_tag :fee_handling, Event::FEE_PASS_ON, false
                  Pass On
              .large-4.columns
                = f.label :fee_handling do
                  = radio_button_tag :fee_handling, Event::FEE_TAKE_ON, false
                  Take On
              .large-4.columns
                = f.label :fee_handling do
                  = radio_button_tag :fee_handling, Event::FEE_SPLIT, false
                  Split Fees
        .row
          .large-2.columns
            %span.inline Tickets
          .large-10.columns
            %ul#ticket_list
            %a{href: '#', data: {'reveal-id' => 'modal_add_ticket', 'reveal-ajax' => new_event_ticket_url(@event)}}
              %i.fa.fa-fw.fa-ticket
              Add Tickets
      %hr
      .row
        .small-10.small-centered.large-6.large-centered.columns.center-text
          = f.submit 'Create Event', class: 'button primary'
