- page_title @event.name.present? ? @event.name : 'Untitled Event'
%header#event_banner{itemprop: 'http://schema.org/Event', itemscope: ''}
  #event_banner_topheavy
    %ul
      %li.text{data: {always: :true}}
        %time#event_banner_date.date-box
          %span.day= @event.date_start.nil? ? '?' : @event.date_start.strftime('%-d')
          %span.month= @event.date_end.nil? ? '?' : @event.date_start.strftime('%^B')
      %li.text.tip-bottom{data: {tooltip: true}, title: '39,212 views'}
        %i.fa.fa-fw.fa-lg.fa-eye.fa-yellow
        %b 39.2K
      %li.text.tip-bottom{data: {tooltip: true}, title: 'Trending NOW'}
        %i.fa.fa-fw.fa-lg.fa-bar-chart-o.fa-red
        %b Now 
      %li.text.tip-bottom{data: {tooltip: true}, title: '10,211 attendees'}
        %i.fa.fa-fw.fa-lg.fa-group.fa-blue
        %b 10.2K
      %li.controls
        - if can? :modify, @event
          - if @event.draft?
            %a#event_draft_button{href: edit_event_path(@event), title: 'Edit Event'}
              Draft
      %li.social
        %ul.button-group
          %li
            %a.facebook.button.tiny
              %i.icon.fa-lg
          %li
            %a.twitter.button.tiny
              %i.icon.fa-lg
          %li
            %a.linkedin.button.tiny
              %i.icon.fa-lg
          %li
            %a.gplus.button.tiny
              %i.icon.fa-lg
  #event_banner_content{data: {event: {banner: @event.banner.url}}}
    %div{style: 'display: table'}
    %h1= @event.name.present? ? @event.name : 'Untitled Event'
- if user_signed_in? and can? :update, @event and @event.publicity == :unlisted
  %p.alert-box.info.radius.center-text
    %span.label.round.primary
      %i.fa.fa-fw.fa-bell
      %b UNLISTED EVENT
    This event is unlisted, making it invisible in search results on our platform and on the Web (as much as possible).
%section#event_navigation{data: {magellan: {expedition: :fixed}}}
  %dl
    - ['tickets', 'description', 'attendees', 'schedule'].each do | portion |
      %dd{data: {magellan: {arrival: portion}}}
        %a{href: "##{portion}"}
          %span.fa-stack
            %i.fa.fa-stack-2x.fa-square
            %i.fa.fa-stack-1x.fa-inverse
          = portion.capitalize

%section#tickets.event_panel{data: {magellan: {destination: :tickets}}}
  - if @event.tickets.empty? and can? :modify, @event
    .row
      %p.alert-box.warning.clearfix.has-button.radius.large-9.large-centered.small-12.large-centered.columns
        %span.label.round.alert
          %i.fa.fa-asterisk.fa-fw.fa-lg
          %b NO TICKETS
        People can't RSVP to your event until you add some tickets!
        %a.button.tiny.alert.right{href: "#{edit_event_url(@event)}#tickets"}
          Add Tickets
  - unless @event.tickets.empty? 
    = render 'tickets/stub_list', tickets: @event.tickets unless @event.tickets.empty?

%section#description.event_panel{data: {magellan: {destination: :description}}}
  - if @event.description.present?
    :erb
      <%= raw @event.description %>
%section#attendees.event_panel{data: {magellan: {destination: :attendees}}}
  -# TODO: Implement a proper means of sifting throught attendees.
  %ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
    - 16.times.each do 
      %li= render 'users/square'
%section#schedule.event_panel{data: {magellan: {destination: :schedule}}}
  - nil
