- disable_header
- disable_footer
- page_title @event.name
%header#event_header{role: :content, data: { expanded: :expanded }}
  #event_date
    %time{datetime: @event.date_start.to_i}= @event.date_start.strftime("%^b %-d")
  #event_title= @event.name
  #event_actions
    %a#event_rsvp_button{href: '#event_rsvp'}
      %i.fa.fa-fw.fa-lg.fa-bullseye
      RSVP
      %span{data: {dropdown: :event_rsvp_menu}}
    %ul#event_rsvp_menu.f-dropdown{data: {dropdown: {content: ''}}}
      - if can? :edit, @event
        %li
          = link_to edit_event_path(@event) do
            %i.fa.fa-fw.fa-pencil-square
            Edit Event
      - if can? :destroy, @event
        %li
          = link_to destroy_event_path(@event) do
            %i.fa.fa-fw.fa-trash-o
            Delete Event
%section#event_content
  %dl.tabs{data: {tab: ''}}
    %dd
      %a{href: '#event_meta'}
        %i.fa.fa-fw.fa-comments
        Description
    %dd.active
      %a{href: '#event_rsvp'}
        %i.fa.fa-fw.fa-bullseye
        RSVP
  .tabs-content
    #event_meta.content
      = @event.description
      #event_map{data: {longitude: @event.longitude, latitude: @event.latitude}}
      #event_location_info= @event.address
    #event_rsvp.content.active
%section#event_rsvp
