%li.ticket{data: {ticket: {id:ticket.id, start: ticket.date_start, end: ticket.date_end, purchased: ticket.purchased?(current_user)}}}
  .status-region
    %i.fa.fa-asterisk
  .content-region
    .titlebar
      %h2
        = ticket.name
        %span.price
          = number_to_currency(ticket.price, precision: 2) if ticket.priced?
          = "FREE" if ticket.free?
        %span.time
          - if Time.zone.now >= ticket.date_start
            closes
            = timeago_tag ticket.date_end
          - else
            opens
            = timeago_tag ticket.date_start
    .metadata
      %div= ticket.description.html_safe
  .actions-region
    - if can? :destroy, ticket
      %a{href: event_ticket_url(ticket.event, ticket), rel: :nofollow, data: {remote: true, ticket: {action: :delete}, method: :delete}} Delete
    - if can? :modify, ticket
      %a{href: '#', data: {reveal: {id: :modal_edit_ticket, ajax: edit_event_ticket_url(ticket.event,ticket)}, ticket: {action: :edit}}} Edit
    - if can? :order, ticket
      %label
        %input{type: :number, min: 0, max: ticket.max_quantity.present? ? ticket.max_quantity : nil, data: {ticket: :quantity}, value: 0, placeholder: '#'}
