%a.close-reveal-modal
  %i.fa.fa-fw.fa-times
= form_for [@event, @ticket], remote: true, class: :edit_ticket, data: { type: :json } do | f |
  = f.hidden_field :date_start, value: @ticket.date_start
  = f.hidden_field :date_end, value: @ticket.date_end
  %h2.center-text Add Ticket For Event

  .row
    .large-6.columns
      .row.collapse
        .large-12.columns
          = f.label :name do
            = f.text_field :name, placeholder: 'Ticket Name'
    .large-6.columns.center-text
      %ul#pricing
        %li
          %span#price_fixed{role: :link}
            Paid
            %i.fa.fa-fw
        %li
          %span#price_free{role: :link}
            Free
            %i.fa.fa-fw
        %li
          %span#price_donation{role: :link}
            Donation
            %i.fa.fa-fw

  .row
    .large-6.columns
      .row.collapse
        .large-6.columns
          = f.label :quantity do
            = f.number_field :quantity, placeholder: 'Quantity of Available Tickets'
        .large-6.columns
          = f.label :infinite, class: 'center-text' do
            = check_box_tag 'ticket[infinite]'
            &#x221E;
            Infinite Tickets
      .row.collapse
        .large-12.columns
          = f.label :description do
            = f.text_area :description, rows: 20, placeholder: 'Ticket escription', class: 'tinymce'
    .large-6.columns
      #pricer.row.collapse
        .large-12.columns
          = f.number_field :price, placeholder: 'Price of Ticket'
      .row.collapse{data: {ticket: 'date_start'}}
        .large-4.columns
          = f.label :date_start, class: 'inline left' do
            %b Sales Start Date
        .large-5.columns
          %input#ticket_day_start{type: :date, placeholder: 'Start Day', required: true}
        .large-3.columns
          %input#ticket_time_start{type: :time, placeholder: 'Start Time', required: true}
      .row.collapse{data: {ticket: 'date_end'}}
        .large-4.columns
          = f.label :date_end, class: 'inline left' do
            %b Sales End Date
        .large-5.columns
          %input#ticket_day_end{type: :date, placeholder: 'End Day', required: true}
        .large-3.columns
          %input#ticket_time_end{type: :time, placeholder: 'End Time', required: true}

  .row.collapse
    .small-3.small-centered.columns
      %button.right.button.small.success.radius{type: :submit, data: {'disable-with' => 'Making the Awesome...'}}
        Create Ticket

:coffeescript
  $ ->
    Portcullis.Tickets.New.bind()
