!!! 5
%html{lang: :en_US}
  %head
    %meta{charset: 'utf-8'}
    %title= content_for?(:title) ? yield(:title) : 'Vettio'
    = csrf_meta_tags
    = stylesheet_link_tag :application
    %link{rel: 'shortcut icon', href: asset_url('favicon.png')}/
    = render 'components/seo'
    = render 'components/mobile'
    = render 'components/ios'
    = javascript_include_tag :modernizr
  %body{class: page_classes(params)}
    .off-canvas-wrap
      .inner-wrap
        = render 'components/header' if header_visible?
        = render 'components/navigation' if navigation_visible?
        %section.main{role: :contentinfo}
          = render 'components/flash_gordon' if flash_gordon_visible?
          = yield
        %a.exit-off-canvas
        = render 'components/footer' if footer_visible?
    = render 'components/javascript'
