!!! 5
%html
  %head
    %title= page_title
    = jquery_include_tag :google
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render 'components/navigation' if navigation_state == true
    = yield
